version: '3'

services:
  db:
    image: postgres
    volumes: ["./DB/:/var/lib/postgresql/data"]
    environment:
      POSTGRES_DB: concourse
      POSTGRES_USER: concourse_user
      POSTGRES_PASSWORD: concourse_pass
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    restart: always

  web:
    image: concourse/concourse:4.2.1
    command: web
    links: [db]
    depends_on: [db]
    ports: ["80:8080"]
    volumes: ["./keys/web:/concourse-keys"]
    environment:
      CONCOURSE_EXTERNAL_URL: http://localhost:8080
      CONCOURSE_POSTGRES_HOST: db
      CONCOURSE_POSTGRES_USER: concourse_user
      CONCOURSE_POSTGRES_PASSWORD: concourse_pass
      CONCOURSE_POSTGRES_DATABASE: concourse
      CONCOURSE_ADD_LOCAL_USER: test:test
      CONCOURSE_MAIN_TEAM_LOCAL_USER: test
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    restart: always

  worker:
    image: concourse/concourse:4.2.1
    command: worker
    privileged: true
    depends_on: [web]
    volumes:
      - ./keys/worker:/concourse-keys
      - ./worker1/4.2.1:/worker-state/4.2.1
        #      - ./worker1/volumes:/worker-state/volumes
    links: [web]
    stop_signal: SIGUSR2
    environment:
      CONCOURSE_TSA_HOST: web:2222
    restart: always

  worker2:
    image: concourse/concourse:4.2.1
    command: worker
    privileged: true
    depends_on: [web]
    volumes:
      - ./keys/worker:/concourse-keys
      - ./worker2/4.2.1:/worker-state/4.2.1
        #      - ./worker2/volumes:/worker-state/volumes
    links: [web]
    stop_signal: SIGUSR2
    environment:
      CONCOURSE_TSA_HOST: web:2222
    restart: always

        #  worker3:
        #    image: concourse/concourse:4.2.1
        #    command: worker
        #    privileged: true
        #    depends_on: [web]
        #    volumes:
        #      - ./keys/worker:/concourse-keys
        #      - ./worker3/4.2.1:/worker-state/4.2.1
        #        #      - ./worker3/volumes:/worker-state/volumes
        #    links: [web]
        #    stop_signal: SIGUSR2
        #    environment:
        #      CONCOURSE_TSA_HOST: web:2222
        #    logging:
        #      driver: "json-file"
        #      options:
        #        max-file: "5"
        #        max-size: "10m"
